.FolderTree .TreeNode{
    padding:2px;
    line-height: 20px;
    font-size: 15px;
}

.FolderTree .TreeNode .TreeNodeToolBar{
    margin-left:3px;
}

.FolderTree .TreeNode .iconContainer:not(.caretContainer){
    padding:0 2px
}

.FolderTree .TreeNode .iconContainer:not(.typeIconContainer) svg:hover{
    cursor:pointer
}

.FolderTree .EditableName .displayName:hover{
    color:#4d94ff;
    cursor:pointer
}

.FolderTree .TreeNode .TreeNodeToolBar .anticon {
    margin: 2px
}

